{% extends "base.html" %}
{% load static %}
{% block page_title %}
    CryptoBlog - All posts
{% endblock %}
{% block css_files %}
  <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
{% endblock %}
{% block nav-item %}
            <ul class="nav navbar-nav menu_nav justify-content-center">
              <li class="nav-item"><a class="nav-link" href="{% url 'start' %}">Home</a></li>
              <li class="nav-item active"><a class="nav-link" href="{% url 'all-posts' %}">All posts</a></li>

              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Category</a>

                    <ul class="dropdown-menu">
                        {% for tag in tags %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'category' tag.caption %}">{{ tag.caption|title }}</a></li>
                        {% endfor %}
                    </ul>

              </li>
              <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a><li>
              <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
            </ul>
{% endblock %}
{% block content %}
  <!--================ Hero sm Banner start =================-->
  <section class="mb-30px">
    <div class="container">
      <div class="hero-banner hero-banner--sm">
        <div class="hero-banner__content">
          <h1>All posts</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--================ Hero sm Banner end =================-->



  <!--================ Start Blog Post Area =================-->
  <section class="blog-post-area section-margin">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
                {% for i in all_posts %}
                    {% include "blog/includes/post.html" %}
                {% endfor %}
          </div>

        </div>

{% include "side.html" %}
{% include "footer.html" %}
  <!--================ End Blog Post Area =================-->

{% endblock %}
