{% extends "base.html" %}
{% load static %}
{% block page_title %}
    CryptoBlog - Post detail
{% endblock %}
{% block css_files %}
  <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
{% endblock %}
{% block nav-item %}
            <ul class="nav navbar-nav menu_nav justify-content-center">
              <li class="nav-item"><a class="nav-link" href="{% url 'start' %}">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'all-posts' %}">All posts</a></li>

              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Category</a>

                    <ul class="dropdown-menu">
                        {% for tag in tags %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'category' tag.caption %}">{{ tag.caption|title }}</a></li>
                        {% endfor %}
                    </ul>

              </li>
              <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a><li>
              <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
            </ul>
{% endblock %}
{% block content %}
  <!--================Header Menu Area =================-->
  
  <!--================ Hero sm Banner start =================-->      
  <section class="mb-30px">
    <div class="container">
      <div class="hero-banner hero-banner--sm">
        <div class="hero-banner__content">
          <h1>Post details</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
<!--              <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--              <li class="breadcrumb-item active" aria-current="page">Post Details</li>-->
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--================ Hero sm Banner end =================-->    


  

  <!--================ Start Blog Post Area =================-->
  <section class="blog-post-area section-margin">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
            <div class="main_blog_details">
                <img class="img-fluid" src="{{ post.image_title.url }}" alt="">
                <a href="#"><h4>{{ post.title }}</h4></a>
                <div class="user_details">
                  <div class="float-left">
                      {% for tag in post_tags %}
                    <a href="#">{{ tag.caption }}</a>
                      {% endfor %}
                  </div>
                  <div class="float-right mt-sm-0 mt-3">
                    <div class="media">
                      <div class="media-body">
                        <h5>{{ post.author }}</h5>
                        <p>{{ post.date }}</p>
                      </div>
                      <div class="d-flex">
<!--                        <img width="42" height="42" src="" alt="">-->
                      </div>
                    </div>
                  </div>
                </div>
                <p>{{ post.excerpt }}</p>
                <p>{{ post.content }}</p>
                {% if post.content_1 %}
                <p>{{ post.content_1 }}</p>
                {% endif %}
                {% if post.content_1A %}
                <p>{{ post.content_1A }}</p>
                {% endif %}
                {% if post.subtitle_1A %}
                <h4>{{ post.subtitle_1A }}</h4>
                {% endif %}
                {% if post.content_1B %}
                <p>{{ post.content_1B }}</p>
                {% endif %}
                {% if post.content_1C %}
                <p>{{ post.content_1C }}</p>
                {% endif %}
                {% if post.subtitle_2A %}
                <h4>{{ post.subtitle_2A }}</h4>
                {% endif %}
                {% if post.content_1D %}
                <p>{{ post.content_1D }}</p>
                {% endif %}
                {% if post.link_1 %}
                <p>
                    <a href="{{ post.link_1 }}">{{ post.link_1 }}</a>
                </p>
                {% endif %}
                <p>
                <ul>
                    {% if post.list_elements_1 %}
                    <li><strong>- {{ post.list_elements_1 }}</strong></li>
                    <li><strong>- {{ post.list_elements_2 }}</strong></li>
                    <li><strong>- {{ post.list_elements_3 }}</strong></li>
                    <li><strong>- {{ post.list_elements_4 }}</strong></li>
                    <li><strong>- {{ post.list_elements_5 }}</strong></li>
                    {% endif %}
                </ul>
                </p>
                {% if post.twitter_itr_description_1 %}
                    <center>
                    <blockquote class="twitter-tweet">
                      <p lang="en" dir="ltr">
                        {{ post.twitter_itr_description_1 }}
                        <a href="{{ post.twitter_href_A1 }}">{{ post.twitter_pic_1 }}</a>
                      </p>
                      {{ post.twitter_nick_1 }}
                      <a href="{{ post.twitter_href_A2 }}">{{ post.twitter_date_1 }}</a>
                    </blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </center>
                {% endif %}
                {% if post.image_in_post_1 %}
                <div style="text-align: center;">
                <p>
                    <img class="img-fluid align='center'" src="{{ post.image_in_post_1.url }}" alt="">
                </p>
                </div>
                {% endif %}
                {% if post.subtitle_1C %}
                <h4>{{ post.subtitle_1C }}</h4>
                {% endif %}
                {% if post.quote_1 %}
                    <blockquote class="blockquote">
                        <p class="mb-0">{{ post.quote_1 }}</p>
                    </blockquote>
                {% endif %}
                {% if post.content_2 %}
                <p>{{ post.content_2 }}</p>
                {% endif %}
                {% if post.content_2A %}
                <p>{{ post.content_2A }}</p>
                {% endif %}
                {% if post.subtitle_2A %}
                <h4>{{ post.subtitle_2A }}</h4>
                {% endif %}
                {% if post.content_2B %}
                <p>{{ post.content_2B }}</p>
                {% endif %}
                {% if post.content_2C %}
                <p>{{ post.content_2C }}</p>
                {% endif %}
                {% if post.subtitle_2B %}
                <h4>{{ post.subtitle_2B }}</h4>
                {% endif %}
                {% if post.content_2D %}
                <p>{{ post.content_2D }}</p>
                {% endif %}
                {% if post.link_2 %}
                <p>
                    <a href="{{ post.link_2 }}">{{ post.link_2 }}</a>
                </p>
                {% endif %}
                <p>
                <ul>
                    {% if post.list_elements_6 %}
                    <li><strong>- {{ post.list_elements_6 }}</strong></li>
                    <li><strong>- {{ post.list_elements_7 }}</strong></li>
                    <li><strong>- {{ post.list_elements_8 }}</strong></li>
                    <li><strong>- {{ post.list_elements_9 }}</strong></li>
                    <li><strong>- {{ post.list_elements_10 }}</strong></li>
                    {% endif %}
                </ul>
                </p>
                {% if post.twitter_itr_description_2 %}
                    <center>
                    <blockquote class="twitter-tweet">
                      <p lang="en" dir="ltr">
                        {{ post.twitter_itr_description_2 }}
                        <a href="{{ post.twitter_href_B1 }}">{{ post.twitter_pic_2 }}</a>
                      </p>
                      {{ post.twitter_nick_2 }}
                      <a href="{{ post.twitter_href_B2 }}">{{ post.twitter_date_2 }}</a>
                    </blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </center>
                {% endif %}
                {% if post.image_in_post_2 %}
                <div style="text-align: center;">
                <p>
                    <img class="img-fluid align='center'" src="{{ post.image_in_post_2.url }}" alt="">
                </p>
                </div>
                {% endif %}
                {% if post.subtitle_2C %}
                <h4>{{ post.subtitle_2C }}</h4>
                {% endif %}
                {% if post.quote_2 %}
                    <blockquote class="blockquote">
                        <p class="mb-0">{{ post.quote_2 }}</p>
                    </blockquote>
                {% endif %}
                {% if post.content_3 %}
                <p>{{ post.content_3 }}</p>
                {% endif %}
                {% if post.content_3A %}
                <p>{{ post.content_3A }}</p>
                {% endif %}
                {% if post.subtitle_3A %}
                <h4>{{ post.subtitle_3A }}</h4>
                {% endif %}
                {% if post.content_3B %}
                <p>{{ post.content_3B }}</p>
                {% endif %}
                {% if post.content_3C %}
                <p>{{ post.content_3C }}</p>
                {% endif %}
                {% if post.subtitle_3B %}
                <h4>{{ post.subtitle_3B }}</h4>
                {% endif %}
                {% if post.content_3D %}
                <p>{{ post.content_3D }}</p>
                {% endif %}
                {% if post.link_3 %}
                <p>
                    <a href="{{ post.link_3 }}">{{ post.link_3 }}</a>
                </p>
                {% endif %}
                <p>
                <ul>
                    {% if post.list_elements_11 %}
                    <li><strong>- {{ post.list_elements_12 }}</strong></li>
                    <li><strong>- {{ post.list_elements_13 }}</strong></li>
                    <li><strong>- {{ post.list_elements_14 }}</strong></li>
                    <li><strong>- {{ post.list_elements_15 }}</strong></li>
                    <li><strong>- {{ post.list_elements_16 }}</strong></li>
                    {% endif %}
                </ul>
                </p>
                {% if post.twitter_itr_description_3 %}
                    <center>
                    <blockquote class="twitter-tweet">
                      <p lang="en" dir="ltr">
                        {{ post.twitter_itr_description_3 }}
                        <a href="{{ post.twitter_href_C1 }}">{{ post.twitter_pic_3 }}</a>
                      </p>
                      {{ post.twitter_nick_3 }}
                      <a href="{{ post.twitter_href_C2 }}">{{ post.twitter_date_3 }}</a>
                    </blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </center>
                {% endif %}
                {% if post.image_in_post_3 %}
                <div style="text-align: center;">
                <p>
                    <img class="img-fluid align='center'" src="{{ post.image_in_post_3.url }}" alt="">
                </p>
                </div>
                {% endif %}
                {% if post.subtitle_3C %}
                <h4>{{ post.subtitle_3C }}</h4>
                {% endif %}
                {% if post.quote_3 %}
                    <blockquote class="blockquote">
                        <p class="mb-0">{{ post.quote_3 }}</p>
                    </blockquote>
                {% endif %}
                {% if post.content_4 %}
                <p>{{ post.content_4 }}</p>
                {% endif %}
                {% if post.content_4A %}
                <p>{{ post.content_4A }}</p>
                {% endif %}
                {% if post.subtitle_4A %}
                <h4>{{ post.subtitle_4A }}</h4>
                {% endif %}
                {% if post.content_4B %}
                <p>{{ post.content_4B }}</p>
                {% endif %}
                {% if post.content_4C %}
                <p>{{ post.content_4C }}</p>
                {% endif %}
                {% if post.subtitle_4B %}
                <h4>{{ post.subtitle_4B }}</h4>
                {% endif %}
                {% if post.content_4D %}
                <p>{{ post.content_4D }}</p>
                {% endif %}
                {% if post.link_4 %}
                <p>
                    <a href="{{ post.link_4 }}">{{ post.link_4 }}</a>
                </p>
                {% endif %}
                <p>
                <ul>
                    {% if post.list_elements_17 %}
                    <li><strong>- {{ post.list_elements_18 }}</strong></li>
                    <li><strong>- {{ post.list_elements_19 }}</strong></li>
                    <li><strong>- {{ post.list_elements_20 }}</strong></li>
                    <li><strong>- {{ post.list_elements_21 }}</strong></li>
                    <li><strong>- {{ post.list_elements_22 }}</strong></li>
                    {% endif %}
                </ul>
                </p>
                {% if post.twitter_itr_description_4 %}
                    <center>
                    <blockquote class="twitter-tweet">
                      <p lang="en" dir="ltr">
                        {{ post.twitter_itr_description_4 }}
                        <a href="{{ post.twitter_href_D1 }}">{{ post.twitter_pic_4 }}</a>
                      </p>
                      {{ post.twitter_nick_4 }}
                      <a href="{{ post.twitter_href_D2 }}">{{ post.twitter_date_4 }}</a>
                    </blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </center>
                {% endif %}
                {% if post.image_in_post_4 %}
                <div style="text-align: center;">
                <p>
                    <img class="img-fluid align='center'" src="{{ post.image_in_post_4.url }}" alt="">
                </p>
                </div>
                {% endif %}
                {% if post.subtitle_4C %}
                <h4>{{ post.subtitle_4C }}</h4>
                {% endif %}
                {% if post.quote_4 %}
                    <blockquote class="blockquote">
                        <p class="mb-0">{{ post.quote_4 }}</p>
                    </blockquote>
                {% endif %}
                {% if post.content_5 %}
                <p>{{ post.content_5 }}</p>
                {% endif %}
                {% if post.content_5A %}
                <p>{{ post.content_5A }}</p>
                {% endif %}
                {% if post.subtitle_5A %}
                <h4>{{ post.subtitle_5A }}</h4>
                {% endif %}
                {% if post.content_5B %}
                <p>{{ post.content_5B }}</p>
                {% endif %}
                {% if post.content_5C %}
                <p>{{ post.content_5C }}</p>
                {% endif %}
                {% if post.subtitle_5B %}
                <h4>{{ post.subtitle_5B }}</h4>
                {% endif %}
                {% if post.content_5D %}
                <p>{{ post.content_5D }}</p>
                {% endif %}
                {% if post.link_5 %}
                <p>
                    <a href="{{ post.link_5 }}">{{ post.link_5 }}</a>
                </p>
                {% endif %}
                <p>
                <ul>
                    {% if post.list_elements_23 %}
                    <li><strong>- {{ post.list_elements_23 }}</strong></li>
                    <li><strong>- {{ post.list_elements_24 }}</strong></li>
                    <li><strong>- {{ post.list_elements_25 }}</strong></li>
                    <li><strong>- {{ post.list_elements_26 }}</strong></li>
                    <li><strong>- {{ post.list_elements_27 }}</strong></li>
                    {% endif %}
                </ul>
                </p>
                {% if post.twitter_itr_description_5 %}
                    <center>
                    <blockquote class="twitter-tweet">
                      <p lang="en" dir="ltr">
                        {{ post.twitter_itr_description_5 }}
                        <a href="{{ post.twitter_href_E1 }}">{{ post.twitter_pic_5 }}</a>
                      </p>
                      {{ post.twitter_nick_5 }}
                      <a href="{{ post.twitter_href_E2 }}">{{ post.twitter_date_5 }}</a>
                    </blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </center>
                {% endif %}
                {% if post.image_in_post_5 %}
                <div style="text-align: center;">
                <p>
                    <img class="img-fluid align='center'" src="{{ post.image_in_post_5.url }}" alt="">
                </p>
                </div>
                {% endif %}
                {% if post.subtitle_5C %}
                <h4>{{ post.subtitle_5C }}</h4>
                {% endif %}
                {% if post.quote_5 %}
                    <blockquote class="blockquote">
                        <p class="mb-0">{{ post.quote_5 }}</p>
                    </blockquote>
                {% endif %}
                {% if post.content_6 %}
                <p>{{ post.content_6 }}</p>
                {% endif %}
                {% if post.content_6A %}
                <p>{{ post.content_6A }}</p>
                {% endif %}
                {% if post.subtitle_6A %}
                <h4>{{ post.subtitle_6A }}</h4>
                {% endif %}
                {% if post.content_6B %}
                <p>{{ post.content_6B }}</p>
                {% endif %}
                {% if post.content_6C %}
                <p>{{ post.content_6C }}</p>
                {% endif %}
                {% if post.subtitle_6B %}
                <h4>{{ post.subtitle_6B }}</h4>
                {% endif %}
                {% if post.content_6D %}
                <p>{{ post.content_6D }}</p>
                {% endif %}
                {% if post.link_6 %}
                <p>
                    <a href="{{ post.link_6 }}">{{ post.link_6 }}</a>
                </p>
                {% endif %}
                <p>
                <ul>
                    {% if post.list_elements_28 %}
                    <li><strong>- {{ post.list_elements_28 }}</strong></li>
                    <li><strong>- {{ post.list_elements_29 }}</strong></li>
                    <li><strong>- {{ post.list_elements_30 }}</strong></li>
                    <li><strong>- {{ post.list_elements_31 }}</strong></li>
                    <li><strong>- {{ post.list_elements_32 }}</strong></li>
                    {% endif %}
                </ul>
                </p>
                {% if post.twitter_itr_description_6 %}
                    <center>
                    <blockquote class="twitter-tweet">
                      <p lang="en" dir="ltr">
                        {{ post.twitter_itr_description_6 }}
                        <a href="{{ post.twitter_href_F1 }}">{{ post.twitter_pic_6 }}</a>
                      </p>
                      {{ post.twitter_nick_6 }}
                      <a href="{{ post.twitter_href_F2 }}">{{ post.twitter_date_6 }}</a>
                    </blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </center>
                {% endif %}
                {% if post.image_in_post_6 %}
                <div style="text-align: center;">
                <p>
                    <img class="img-fluid align='center'" src="{{ post.image_in_post_6.url }}" alt="">
                </p>
                </div>
                {% endif %}
                {% if post.subtitle_6C %}
                <h4>{{ post.subtitle_6C }}</h4>
                {% endif %}
                {% if post.quote_6 %}
                    <blockquote class="blockquote">
                        <p class="mb-0">{{ post.quote_6 }}</p>
                    </blockquote>
                {% endif %}
                {% if post.content_7 %}
                <p>{{ post.content_7 }}</p>
                {% endif %}
                {% if post.content_7A %}
                <p>{{ post.content_7A }}</p>
                {% endif %}
                {% if post.subtitle_7A %}
                <h4>{{ post.subtitle_7A }}</h4>
                {% endif %}
                {% if post.content_7B %}
                <p>{{ post.content_7B }}</p>
                {% endif %}
                {% if post.content_7C %}
                <p>{{ post.content_7C }}</p>
                {% endif %}
                {% if post.subtitle_7B %}
                <h4>{{ post.subtitle_7B }}</h4>
                {% endif %}
                {% if post.content_7D %}
                <p>{{ post.content_7D }}</p>
                {% endif %}
                {% if post.link_7 %}
                <p>
                    <a href="{{ post.link_7 }}">{{ post.link_7 }}</a>
                </p>
                {% endif %}
                <p>
                <ul>
                    {% if post.list_elements_33 %}
                    <li><strong>- {{ post.list_elements_33 }}</strong></li>
                    <li><strong>- {{ post.list_elements_34 }}</strong></li>
                    <li><strong>- {{ post.list_elements_35 }}</strong></li>
                    <li><strong>- {{ post.list_elements_36 }}</strong></li>
                    <li><strong>- {{ post.list_elements_37 }}</strong></li>
                    {% endif %}
                </ul>
                </p>
                {% if post.twitter_itr_description_7 %}
                    <center>
                    <blockquote class="twitter-tweet">
                      <p lang="en" dir="ltr">
                        {{ post.twitter_itr_description_7 }}
                        <a href="{{ post.twitter_href_G1 }}">{{ post.twitter_pic_7 }}</a>
                      </p>
                      {{ post.twitter_nick_7 }}
                      <a href="{{ post.twitter_href_G2 }}">{{ post.twitter_date_7 }}</a>
                    </blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </center>
                {% endif %}
                {% if post.image_in_post_7 %}
                <div style="text-align: center;">
                <p>
                    <img class="img-fluid align='center'" src="{{ post.image_in_post_7.url }}" alt="">
                </p>
                </div>
                {% endif %}
                {% if post.subtitle_7C %}
                <h4>{{ post.subtitle_7C }}</h4>
                {% endif %}
                {% if post.quote_7 %}
                    <blockquote class="blockquote">
                        <p class="mb-0">{{ post.quote_7 }}</p>
                    </blockquote>
                {% endif %}
                {% if post.content_8 %}
                <p>{{ post.content_8 }}</p>
                {% endif %}
                {% if post.content_8A %}
                <p>{{ post.content_8A }}</p>
                {% endif %}
                {% if post.subtitle_8A %}
                <h4>{{ post.subtitle_8A }}</h4>
                {% endif %}
                {% if post.content_8B %}
                <p>{{ post.content_8B }}</p>
                {% endif %}
                {% if post.content_8C %}
                <p>{{ post.content_8C }}</p>
                {% endif %}
                {% if post.subtitle_8B %}
                <h4>{{ post.subtitle_8B }}</h4>
                {% endif %}
                {% if post.content_8D %}
                <p>{{ post.content_8D }}</p>
                {% endif %}
                {% if post.link_8 %}
                <p>
                    <a href="{{ post.link_8 }}">{{ post.link_8 }}</a>
                </p>
                {% endif %}
                <p>
                <ul>
                    {% if post.list_elements_38 %}
                    <li><strong>- {{ post.list_elements_38 }}</strong></li>
                    <li><strong>- {{ post.list_elements_39 }}</strong></li>
                    <li><strong>- {{ post.list_elements_40 }}</strong></li>
                    <li><strong>- {{ post.list_elements_41 }}</strong></li>
                    <li><strong>- {{ post.list_elements_42 }}</strong></li>
                    {% endif %}
                </ul>
                </p>
                {% if post.twitter_itr_description_8 %}
                    <center>
                    <blockquote class="twitter-tweet">
                      <p lang="en" dir="ltr">
                        {{ post.twitter_itr_description_8 }}
                        <a href="{{ post.twitter_href_H1 }}">{{ post.twitter_pic_8 }}</a>
                      </p>
                      {{ post.twitter_nick_8 }}
                      <a href="{{ post.twitter_href_H2 }}">{{ post.twitter_date_8 }}</a>
                    </blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </center>
                {% endif %}
                {% if post.image_in_post_8 %}
                <div style="text-align: center;">
                <p>
                    <img class="img-fluid align='center'" src="{{ post.image_in_post_8.url }}" alt="">
                </p>
                </div>
                {% endif %}
                {% if post.subtitle_8C %}
                <h4>{{ post.subtitle_8C }}</h4>
                {% endif %}
                {% if post.quote_8 %}
                    <blockquote class="blockquote">
                        <p class="mb-0">{{ post.quote_8 }}</p>
                    </blockquote>
                {% endif %}
                {% if post.content_9 %}
                <p>{{ post.content_9 }}</p>
                {% endif %}
                {% if post.content_9A %}
                <p>{{ post.content_9A }}</p>
                {% endif %}
                {% if post.subtitle_9A %}
                <h4>{{ post.subtitle_9A }}</h4>
                {% endif %}
                {% if post.content_9B %}
                <p>{{ post.content_9B }}</p>
                {% endif %}
                {% if post.content_9C %}
                <p>{{ post.content_9C }}</p>
                {% endif %}
                {% if post.subtitle_9B %}
                <h4>{{ post.subtitle_9B }}</h4>
                {% endif %}
                {% if post.content_9D %}
                <p>{{ post.content_9D }}</p>
                {% endif %}
                {% if post.link_9 %}
                <p>
                    <a href="{{ post.link_9 }}">{{ post.link_9 }}</a>
                </p>
                {% endif %}
                <p>
                <ul>
                    {% if post.list_elements_43 %}
                    <li><strong>- {{ post.list_elements_43 }}</strong></li>
                    <li><strong>- {{ post.list_elements_44 }}</strong></li>
                    <li><strong>- {{ post.list_elements_45 }}</strong></li>
                    <li><strong>- {{ post.list_elements_46 }}</strong></li>
                    <li><strong>- {{ post.list_elements_47 }}</strong></li>
                    {% endif %}
                </ul>
                </p>
                {% if post.twitter_itr_description_9 %}
                    <center>
                    <blockquote class="twitter-tweet">
                      <p lang="en" dir="ltr">
                        {{ post.twitter_itr_description_9 }}
                        <a href="{{ post.twitter_href_I1 }}">{{ post.twitter_pic_9 }}</a>
                      </p>
                      {{ post.twitter_nick_9 }}
                      <a href="{{ post.twitter_href_I2 }}">{{ post.twitter_date_9 }}</a>
                    </blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </center>
                {% endif %}
                {% if post.image_in_post_9 %}
                <div style="text-align: center;">
                <p>
                    <img class="img-fluid align='center'" src="{{ post.image_in_post_9.url }}" alt="">
                </p>
                </div>
                {% endif %}
                {% if post.subtitle_9C %}
                <h4>{{ post.subtitle_9C }}</h4>
                {% endif %}
                {% if post.quote_9 %}
                    <blockquote class="blockquote">
                        <p class="mb-0">{{ post.quote_9 }}</p>
                    </blockquote>
                {% endif %}
                {% if post.content_10 %}
                <p>{{ post.content_10 }}</p>
                {% endif %}
                {% if post.content_10A %}
                <p>{{ post.content_10A }}</p>
                {% endif %}
                {% if post.subtitle_10A %}
                <h4>{{ post.subtitle_10A }}</h4>
                {% endif %}
                {% if post.content_10B %}
                <p>{{ post.content_10B }}</p>
                {% endif %}
                {% if post.content_10C %}
                <p>{{ post.content_10C }}</p>
                {% endif %}
                {% if post.subtitle_10B %}
                <h4>{{ post.subtitle_10B }}</h4>
                {% endif %}
                {% if post.content_10D %}
                <p>{{ post.content_10D }}</p>
                {% endif %}
                {% if post.link_10 %}
                <p>
                    <a href="{{ post.link_10 }}">{{ post.link_10 }}</a>
                </p>
                {% endif %}
                <p>
                <ul>
                    {% if post.list_elements_48 %}
                    <li><strong>- {{ post.list_elements_48 }}</strong></li>
                    <li><strong>- {{ post.list_elements_49 }}</strong></li>
                    <li><strong>- {{ post.list_elements_50 }}</strong></li>
                    <li><strong>- {{ post.list_elements_51 }}</strong></li>
                    <li><strong>- {{ post.list_elements_52 }}</strong></li>
                    {% endif %}
                </ul>
                </p>
                {% if post.twitter_itr_description_10 %}
                    <center>
                    <blockquote class="twitter-tweet">
                      <p lang="en" dir="ltr">
                        {{ post.twitter_itr_description_10 }}
                        <a href="{{ post.twitter_href_J1 }}">{{ post.twitter_pic_10 }}</a>
                      </p>
                      {{ post.twitter_nick_10 }}
                      <a href="{{ post.twitter_href_J2 }}">{{ post.twitter_date_10 }}</a>
                    </blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </center>
                {% endif %}
                {% if post.image_in_post_10 %}
                <div style="text-align: center;">
                <p>
                    <img class="img-fluid align='center'" src="{{ post.image_in_post_10.url }}" alt="">
                </p>
                </div>
                {% endif %}
                {% if post.subtitle_10C %}
                <h4>{{ post.subtitle_10C }}</h4>
                {% endif %}
                {% if post.quote_10 %}
                    <blockquote class="blockquote">
                        <p class="mb-0">{{ post.quote_10 }}</p>
                    </blockquote>
                {% endif %}


                <div class="news_d_footer flex-column flex-sm-row">
                 <a href="#comments-area"><span class="align-middle mr-2"><i class="ti-themify-favicon"></i></span>{{counts}} Comments</a>
<!--                 <a class="justify-content-sm-center ml-sm-auto mt-sm-0 mt-2" href="#comments-area"><span class="align-middle mr-2"><i class="ti-themify-favicon"></i></span>06 Comments</a>-->
                 <div class="news_socail ml-sm-auto mt-sm-0 mt-2">
               <a href="#"><i class="fab fa-facebook-f"></i></a>
               <a href="#"><i class="fab fa-twitter"></i></a>
<!--               <a href="#"><i class="fab fa-dribbble"></i></a>-->
<!--               <a href="#"><i class="fab fa-behance"></i></a>-->
             </div>
               </div>
              </div>
          

<!--          <div class="navigation-area">-->
<!--                  <div class="row">-->
<!--                      <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">-->
<!--                          <div class="thumb">-->
<!--                              <a href="#"><img class="img-fluid" src="img/blog/prev.jpg" alt=""></a>-->
<!--                          </div>-->
<!--                          <div class="arrow">-->
<!--                              <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>-->
<!--                          </div>-->
<!--                          <div class="detials">-->
<!--                              <p>Prev Post</p>-->
<!--                              <a href="#"><h4>A Discount Toner</h4></a>-->
<!--                          </div>-->
<!--                      </div>-->
<!--                      <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">-->
<!--                          <div class="detials">-->
<!--                              <p>Next Post</p>-->
<!--                              <a href="#"><h4>Cartridge Is Better</h4></a>-->
<!--                          </div>-->
<!--                          <div class="arrow">-->
<!--                              <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>-->
<!--                          </div>-->
<!--                          <div class="thumb">-->
<!--                              <a href="#"><img class="img-fluid" src="img/blog/next.jpg" alt=""></a>-->
<!--                          </div>										-->
<!--                      </div>									-->
<!--                  </div>-->
<!--                </div>-->
                <div class="comments-area" id="comments-area">
                    <h4>{{ counts }} Comments</h4>
                    {% for i in comments %}
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="img/blog/c1.jpg" alt="">
                                </div>
                                <div class="desc">
                                    <h5><a>{{ i.user_name }}</a></h5>
                                    <p class="date">{{ i.date }} </p>
                                    <p class="comment">
                                        {{ i.text|linebreaks }}
                                    </p>
                                </div>
                            </div>
<!--                            <div class="reply-btn">-->
<!--                                    <a href="" class="btn-reply text-uppercase">reply</a>-->
<!--                            </div>-->
                        </div>
                    </div>
                    {% endfor %}
<!--                    <div class="comment-list left-padding">-->
<!--                        <div class="single-comment justify-content-between d-flex">-->
<!--                            <div class="user justify-content-between d-flex">-->
<!--                                <div class="thumb">-->
<!--                                    <img src="img/blog/c2.jpg" alt="">-->
<!--                                </div>-->
<!--                                <div class="desc">-->
<!--                                    <h5><a href="#">Elsie Cunningham</a></h5>-->
<!--                                    <p class="date">December 4, 2017 at 3:12 pm </p>-->
<!--                                    <p class="comment">-->
<!--                                        Never say goodbye till the end comes!-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="reply-btn">-->
<!--                                    <a href="" class="btn-reply text-uppercase">reply</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="comment-list left-padding">-->
<!--                        <div class="single-comment justify-content-between d-flex">-->
<!--                            <div class="user justify-content-between d-flex">-->
<!--                                <div class="thumb">-->
<!--                                    <img src="img/blog/c3.jpg" alt="">-->
<!--                                </div>-->
<!--                                <div class="desc">-->
<!--                                    <h5><a href="#">Annie Stephens</a></h5>-->
<!--                                    <p class="date">December 4, 2017 at 3:12 pm </p>-->
<!--                                    <p class="comment">-->
<!--                                        Never say goodbye till the end comes!-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="reply-btn">-->
<!--                                    <a href="" class="btn-reply text-uppercase">reply</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="comment-list">-->
<!--                        <div class="single-comment justify-content-between d-flex">-->
<!--                            <div class="user justify-content-between d-flex">-->
<!--                                <div class="thumb">-->
<!--                                    <img src="img/blog/c4.jpg" alt="">-->
<!--                                </div>-->
<!--                                <div class="desc">-->
<!--                                    <h5><a href="#">Maria Luna</a></h5>-->
<!--                                    <p class="date">December 4, 2017 at 3:12 pm </p>-->
<!--                                    <p class="comment">-->
<!--                                        Never say goodbye till the end comes!-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="reply-btn">-->
<!--                                    <a href="" class="btn-reply text-uppercase">reply</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="comment-list">-->
<!--                        <div class="single-comment justify-content-between d-flex">-->
<!--                            <div class="user justify-content-between d-flex">-->
<!--                                <div class="thumb">-->
<!--                                    <img src="img/blog/c5.jpg" alt="">-->
<!--                                </div>-->
<!--                                <div class="desc">-->
<!--                                    <h5><a href="#">Ina Hayes</a></h5>-->
<!--                                    <p class="date">December 4, 2017 at 3:12 pm </p>-->
<!--                                    <p class="comment">-->
<!--                                        Never say goodbye till the end comes!-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="reply-btn">-->
<!--                                    <a href="" class="btn-reply text-uppercase">reply</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script>
                {% for msg in messages %}
                    swal("{{ msg }}");
                {% endfor %}
            </script>
 <div class="comment-form container mt-5">
    <h4>Leave a Reply</h4>
    <form action="{% url 'post' post.slug %}" method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="user_name" value="{{ user_name }}" placeholder="Enter Name" required>
                {% if comment_form.user_name.errors %}
                    <div class="invalid-feedback">
                        {{ comment_form.user_name.errors|join:", " }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group col-md-6">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" name="user_email" value="{{ user_email }}" placeholder="Enter email address" required>
                {% if comment_form.user_email.errors %}
                    <div class="invalid-feedback">
                        {{ comment_form.user_email.errors|join:", " }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="text">Message</label>
            <textarea class="form-control" rows="5" name="text" placeholder="Message" required>{{ text }}</textarea>
            {% if comment_form.text.errors %}
                <div class="invalid-feedback">
                    {{ comment_form.text.errors|join:", " }}
                </div>
            {% endif %}
        </div>
        <button class="button submit_btn" type="submit">Post Comment</button>
    </form>
</div>

        </div>

        <!-- Start Blog Post Siddebar -->

  <!--================ End Blog Post Area =================-->
{% include "side.html" %}
{% include "footer.html" %}

{% endblock %}